### Силантьева Ольга Сергеевна Т120-101М-20

**1. Импортировать модули sys numpy pandas**

In [3]:
import sys
import numpy as np
import pandas as pd

**2. Создать объект pandas Series из листа, объекта NumPy, и словаря**

In [14]:
L = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
M = np.random.randint(10, size = len(L))
D = dict(zip(np.arange(len(L)), L))
 
L_s = pd.Series(L)
M_s = pd.Series(M)
D_s = pd.Series(D)
 
print(L_s)
print(M_s)
print(D_s)

0       Red
1    Orange
2    Yellow
3     Green
4      Blue
5    Indigo
6    Violet
dtype: object
0    9
1    1
2    9
3    3
4    2
5    6
6    2
dtype: int32
0       Red
1    Orange
2    Yellow
3     Green
4      Blue
5    Indigo
6    Violet
dtype: object

**3. Преобразовать объект Series в DataFrame**

In [15]:
s = pd.Series(['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet'])
df = s.to_frame() 
print(df)

        0
0     Red
1  Orange
2  Yellow
3   Green
4    Blue
5  Indigo
6  Violet

**4. Объединить несколько объектов Series в Dataframe**

In [22]:
L =pd.Series( ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet'])
M =pd.Series( np.random.randint(10, size = len(L)))
df = pd.concat([L, M], axis=1)

print(df)

        0  1
0     Red  5
1  Orange  1
2  Yellow  5
3   Green  9
4    Blue  6
5  Indigo  8
6  Violet  2

**5. Присвоить имя индексу объекта Series**

In [64]:
s = pd.Series( ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet'])

s.name = 'rainbow'

**6. Получить элементы объекта Series A, которых нет в объекте Series B (возвратить вместе с индексами, 
возвратить значения)**

In [36]:
s1 = pd.Series(np.arange(10))
s2 = pd.Series(np.random.randint(10, size = (5)))

print(s1)
print(s2)

# индексы и значения
s = s1[~s1.isin(s2)]
print(s)

# только значения
s = np.setdiff1d(s1, s2)
print(s)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
0    7
1    1
2    7
3    1
4    7
dtype: int32
0    0
2    2
3    3
4    4
5    5
6    6
8    8
9    9
dtype: int32
[0 2 3 4 5 6 8 9]

**7. Получить не пересекающиеся элементы в двух объектах Series**

In [68]:
 
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
 
print(pd.concat([s1[~s1.isin(s2)], s2[~s2.isin(s1)]], axis=0))

s_union = pd.Series(np.union1d(s1, s2))

s_intersect = pd.Series(np.intersect1d(s1, s2))

print(s_union[~s_union.isin(s_intersect)])
 
print(np.setxor1d(s1, s2))

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64
[1 2 3 6 7 8]